<section class="healthy-module">
    <div class="container">
        <div appSectionHeading>
            <p class="latest-head">HEALTHY RECIPES</p>
            <hr class="divider">
        </div>
        <div class="cards-div">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/healthy (1).jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Crunchwrap Supreme</h5>
                            <p class="card-text">This vegan crunchwrap is INSANE! Stuff this bad boy with whatever you
                                like - I made it with sofritas tofu and cashew queso - and wrap it up, fry, and devour!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/healthy (1).png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bistro Salad</h5>
                            <p class="card-text">Crunchy, light, bright, and ultra-fresh. This French-inspired bistro
                                salad is an absolute star as a side for nearly any dinner.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/healthy (2).jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Spicy Tofu Burgers</h5>
                            <p class="card-text">Spicy Tofu Burgers! YES. Crumbled tofu pressed together with
                                lemongrass, sriracha, and fresh herbs, all browned up into a delicious flavor-bomb
                                burger.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>