<section class="vegetarian-module">
    <div class="container">
        <div appSectionHeading>
            <p class="latest-head">VEGETARIAN RECIPES</p>
            <hr class="divider">
        </div>
        <div class="cards-div">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/veg (1).jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Cream Cheese Danishes</h5>
                            <p class="card-text">Croissant dough layered with cream cheese, twisted up and baked with a
                                pool of jam on top, and a drizzle of buttery glaze to finish.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/veg.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Roasted Broccoli Salad</h5>
                            <p class="card-text">From one food-loving person to another, and onto another, and now here,
                                to your screen, ready for you to devour in 5 seconds flat.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/veg (2).png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">7-Layer Beet Salad</h5>
                            <p class="card-text">This 7-Layer Beet Salad is a stunner! Studded with cooked beets,
                                supremed oranges, chopped pistachios, creamy truffle ricotta, and a bit of fresh mint.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>