<section class="latest-module">
    <div class="container">
        <div appSectionHeading>
            <p class="latest-head">LATEST RECIPES</p>
            <hr class="divider">
        </div>
        <div class="cards-div">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/latest (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">White Chocolate Cookies</h5>
                            <p class="card-text">These are White Chocolate Cookies speckled with creamy
                                and rich white chocolate chips. Grab your baking essentials and let's go!</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/latest (2).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Best Baked Chicken Breast</h5>
                            <p class="card-text">Perfectly baked chicken breasts that are juicy, tender, easy, and oh so
                                flavorful! This is a recipe everyone should know how to master.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/latest (3).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Chocolate Chia Pudding</h5>
                            <p class="card-text">This Chocolate Chia Pudding recipe is the most luxurious (yet easy to
                                make) dessert. Each spoonful is decadently rich and oh, so chocolatey! </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>