<section class="qande-module">
    <div class="container">
        <div appSectionHeading>
            <p class="latest-head">QUICK AND EASY RECIPES</p>
            <hr class="divider">
        </div>
        <div class="cards-div">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/qande (1).jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ginger Chicken Meatball Sandos</h5>
                            <p class="card-text">Golden brown chicken meatballs cozied up next to fixings like
                                cucumbers, shallots, kewpie mayo, mint, a bit of chili crisp, and some fresh cilantro to
                                make the ultimate chicken sando!</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/qande (2).jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sausage and Kale</h5>
                            <p class="card-text">Why is rigatoni so good, actually? Why does pasta taste better when
                                it's in the shape of oversized chewy tubes with just the right amount of density and
                                flop to them?</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div appCard class="card h-100">
                        <img src="../../../assets/images/qande (3).jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">The Best Sunday Chili</h5>
                            <p class="card-text">This is the BEST Sunday Chili! Beef, bacon, tomatoes, chopped veggies,
                                beans, and spices - it's a cozy weather weekend essential!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>